.topics-table td,
.topics-table th {
    text-align: center;
}

.topics-table th > h3 {
    font-size: 1.3em;
    color: #888;
    font-weight: normal;
}

.topics-table th > h3 > span {
    color: #333;
    font-weight: bold;
}

.topics-table th > a.btn {
    margin: 0 0 10px 0;
}

.topics-table > tbody td > .word {
    padding: 2px 10px;
}

