@import 'bower/components-bootstrap/less/mixins';

/* Full page application */
// http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 1200px;
}
body {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 9pt;
    background-color: rgb(230, 230, 230);
     min-width: 1200px;
}

.box {
    margin: 2px;
    padding: 5px;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px solid #e3e3e3;
    background-color: white;

}
.no-padding{
    padding: 0;
}
.rotate {

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}



#application {

}

#titleWrap {
    height: 50px;
    padding: 5px;
    background-color: white;
    -webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);

    .title {
        font-size: 2em;
        font-weight: 700;
    }
}
#content {
    margin: 10px 0px 10px 20px;
}

@top-row-height: 165px;

#search {
    height: @top-row-height;
}
#groups {
    height: @top-row-height + 20;
    overflow-x: auto;
    padding-left: 0;
    #group-wrapper {
        white-space: nowrap;
    }
    position: relative;
    .show_vis {
        position: absolute;
        top: 10px;
        right: 7px;
    }
    .heading {
        font-weight: 700;
        font-size: 1.5em;
        padding: 2px;
        //text-overflow: ellipsis;
        width: 85%;
        //overflow: hidden;

    }
    .keyword-list {
        width: 90%;
        text-wrap: normal;
        font-size: 1.1em;
        line-height: 2em;
    }
    .icon {
        position: absolute;
        right: 10px;
        top: 15px;
        color: #aaa;
        font-size: 1.2em;
        z-index: 1000;
    }
    .group-box {
        margin-top: 0;
        width: 350px;
        height: @top-row-height - 5;
        background-color: white;

        display: inline-block;
        position: relative;

        .group-wrap {
            position: absolute;
            top: 5px;
            left: 5px;
            width: 97%;
        }

        .bottom-bar {
            .count {
                position: absolute;
                left: 0px;
                bottom: 10px;
                color: #aaa;
            }


        }
        .group-content{
            height: @top-row-height - 15;
        }
        .mask {
            background-color: black;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            z-index: 1000;
            position: absolute;
            top: 0;
            right: 0;
        }

        .edit-form {
            width: 100%;
             background-color: white;
            //transition: visibility linear 1s;
            .heading {
                font-weight: 700;
                font-size: 1.5em;
                padding: 2px;
                width: 99%;
                border: 1px dashed #666;
            }
            .keyword-line {
                padding: 5px 0;
                label {
                    width: 20%;
                    font-weight: 400;
                    color: #666;
                }
                input {
                    width: 78%;
                }

            }

            .btns {
                text-align: right;
                padding-righ: 1%;

                .btn {
                    font-size: 0.7em;
                }
            }
        }


    }
    .group-box:hover {
        cursor: pointer;
    }
    .group-box.active {
        background-color: rgb(201, 233, 255);
    }
    .group-box.edit-class {

        background-color: white !important;
        cursor: default !important;

    }

}

#top {
    margin-bottom: 10px;
}

@bottom-row-height: 600px;
@stat-box-height: 150px;
#group-edit{
      position: relative;
      .show_vis {
          position: absolute;
          top: 10px;
          right: 25px;
      }
      .mask {
            background-color: black;
            opacity: 0.3;
            width: 100%;
            height: 100%;
            z-index: 1000;
            position: absolute;
            top: 0;
            right: 0;
        }

      #group-name-field {

      }

      .heading {
          font-weight: 700;
          font-size: 1.1em;
          line-height: 2em;
          padding: 2px;
          width: 99%;
          border: 1px dashed #666;
      }
      .keyword-line {
          padding: 5px 0;
          label {
              width: 20%;
              font-weight: 400;
              color: #666;
          }
          input {
              width: 78%;
          }

      }

      .btns {
          text-align: right;
          padding-righ: 1%;

          .btn {
              font-size: 0.7em;
          }
      }
      .glyphicon:hover {
          cursor: pointer;
      }

}


#search {
    height: @bottom-row-height;
    position: relative;
    #search_keyword{
        width: 85%;
    }

    .search-results-place-holder{
        color: #999;
        font-size: 1.8em;
        position: absolute;
        width: 90%;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .heading {
        font-weight: 600;
        font-size: 1.2em;
    }
    .message-list{
        height: @bottom-row-height - 100px;
        overflow-y: scroll;
    }
    .pages {
        .page-link {
            //color: @link-color;
            font-size: 1.1em;
        }
        .page-link:hover {
            //color: @link-hover-color;
            //text-decoration: @link-hover-decoration;
            cursor: pointer;
        }
        .current-page {
            //color: @breadcrumb-active-color;
            font-weight: 700;
        }
    }
}

#middle{
    padding-left: 0;
    padding-right: 0;
}

#viz-wrapper {
    width: 100%;
    height: @bottom-row-height - @stat-box-height;
    sparqs-vis {
        .c3-area {
            opacity: 0;
        }
        .c3-grid line {
            stroke-dasharray: 0;
            stroke: #E2E2E2;
        }

    }
}
#dimensions {
    margin-left: 10px;
    .dimension {
        font-weight: 600;
    }
    .dimension:hover {
        cursor: pointer;
        background-color: #afe0fe;
    }
    .active {
        background-color: #99C6E4;
    }


}


#messages {
    height: @bottom-row-height;
    .heading {
        font-weight: 600;
        font-size: 1.2em;
    }
    .message-list {
        height: @bottom-row-height - 50px;
        overflow-y: scroll;
    }
    .tweet-wrapper {
        width: 95% !important;
        font-size: 0.5em;
    }

}

.glyphicon:hover {
    cursor: pointer;
    color: #990000;
}

/* Angular */
.animate-enter,
.animate-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}