body {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  background-color: black;
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: white;
  overflow: hidden;
}

/* setting content boxes */
.content{
  margin: 0 auto;
  width: 1250px;
  height: 730px;
  //border: 1px #d53593 solid;

}
.content-box{
  float: left;
  //border: 1px #60add5 solid;
}
.float-left{
  float: left;
}
.clear{
  clear: both;
}
#left{
  width: 255px;
}
#middle{
  width: 740px;
}
#right{
  width: 250px;
}

/* Header section */
#titleWrap{
  height: 90px;
}
#logo{
  margin-right: 20px;
  height: 90px;
  text-align: left;
  vertical-align: bottom;
}
#logo img{
  height: 75px;

}

#title{
  font-size: 36px;
  color: #fff;
}

#subtitle{
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-size: 21px;
  color: #B3B3B3;
}

/* selectors */
@dimension-height: 27px;
@dimension-group-width: 220px;
@dimension-group-name-height: 30px;
#dimensions .dimension-group{
  position: relative;
  border: 1px solid #4d4f52;
  border-bottom: none;
  width: @dimension-group-width + @dimension-group-name-height + 2;
}
#dimensions .dimension-group:last-of-type{
  border: 1px solid #4d4f52;

}
#dimensions .group-name{
  border: 1px solid #4d4f52;
  height: @dimension-group-name-height;
  weight: 100%;
  background-color: #999999;
  color: #000;
  font-size: 14pt;
  font-family: 'Source Sans Pro';
  font-weight: 500;
  transform: rotate(-90deg);
  transform-origin: left bottom 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 30px;
}
#dimensions .group-members{
  margin-left: 30px;
  width: @dimension-group-width + 1;
}

#dimensions .dimension-name{
  width: @dimension-group-width;
  height: @dimension-height;
  border: 1px solid #1a1c1e;
  font-size: 12pt;
  background: -webkit-linear-gradient(left, rgb(1,16,40) , #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgb(1,16,40) , #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgb(1,16,40) , #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgb(1,16,40) , #000); /* Standard syntax */
}

#dimensions #group-Time{
  width: @dimension-height * 2;
}

#dimensions #group-Contents{
  width: @dimension-height * 7;
  background: #666;
  color: #fff;
}

#dimensions #group-Meta{
  width: @dimension-height * 2;
}
#dimensions #group-Interaction{
  width: @dimension-height * 5;
  background: #666;
  color: #fff;
}
#dimensions #group-Author{
  width: @dimension-height * 7;
}

#dimensions .dim-placeholder{
  width: 25px;
  display: inline-block;
  margin-left: 5px;
}

#dimensions .first-dimension{
  background: #680F37;
}

#dimensions .second-dimension{
  background: #022D47;
}

#dimensions .dim-filter{
  position: absolute;
  right: 5px;
}

/* visualization */
#viz{
  padding-left: 5px;
  height: 460px;
  border: 1px solid #1a1c1e;
  background: -webkit-linear-gradient(top, rgb(1,16,40) , #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgb(1,16,40) , #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgb(1,16,40) , #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgb(1,16,40) , #000); /* Standard syntax */
}
#viz-heading{
  font-size: 18px;
  font-weight: 500;
  color: #ccc;
}

/* research questions */
#questions{
  padding-left: 5px;
  height: 169px;
  border: 1px solid #1a1c1e;

}
#questions-heading{
  font-size: 18px;
  color: #ccc;
  font-weight: 500;
}
#questions ul{
  padding-left: 15px;
}
#questions li{
  color: #cfcfcf;
  list-style-image: url("../../images/part4_step1.png");
}

#questions .first-dimension{
  color: #FF174E;
}

#questions .second-dimension{
  color: #5A82F2;
}

/* example messages */

#messages-heading {
  font-size: 18px;
  color: #ccc;
  font-weight: 500;
}
#messages{
  padding-left: 5px;
  height: 629px;
  overflow-y: scroll;
  border: 1px solid #1a1c1e;
  background: -webkit-linear-gradient(right, rgb(1,16,40) , #000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgb(1,16,40) , #000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgb(1,16,40) , #000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgb(1,16,40) , #000); /* Standard syntax */
}

#messages ul{
  padding-left: 15px;
}
#messages li{
  color: #cfcfcf;
  list-style-image: url("../../images/part6_dots.png");
}
#messages .meta{
  color: #B3B3B3;
  font-size: 10px;
}