{% extends '_layouts/base.html' %}
{% load staticfiles %}

{% block page_title %}SparQs{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'bower/angular/angular.js' %}"></script>
    <script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'bower/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'dimensions/dimensions.js' %}"></script>
    <script type="text/javascript" src="{% static 'dimensions/controllers.js' %}"></script>
{% endblock %}

{% block header %}
{% endblock %}
    <h1>SparQs</h1>
{% block content %}
<div class="container row">
    <div id="left" class="col-md-3" ng-app="dimensions">
        <div id="dimensions" ng-controller="dimensions.controllers.dimensionController">
            <div ng-repeat="group in dimension_groups" class="row">
                <div class="col-md-1"><span ng-bind="group.group_name"></span></div>
                <div class="col-md-11">
                    <div ng-repeat="dimension in group.dimensions">
                        <span ng-bind="dimension.name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="middle" class="col-md-6">
        <div id="viz">

        </div>
        <div id="questions">

        </div>
    </div>
    <div id="right" class="col-md-3">
        <div id="messages">

        </div>
    </div>




</div>
{% endblock %}
