{% extends '_layouts/base.html' %}
{% load staticfiles %}

{% block page_title %}SparQs{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'bower/angular/angular.js' %}"></script>
    <script src="{% static 'bower/angular-cookies/angular-cookies.js' %}"></script>
    <script src="{% static 'bower/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'djangular/js/django-angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower/angular-resource/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'SparkQs/SparkQs.js' %}"></script>
    <script type="text/javascript" src="{% static 'SparkQs/controllers.js' %}"></script>
{% endblock %}

{% block header %}
{% endblock %}
    <h1>SparQs</h1>
{% block content %}
<div class="container row" ng-app="SparkQs">
    <div id="left" class="col-md-2">
        <div id="dimensions" ng-controller="SparkQs.controllers.dimensionController">
            <div ng-repeat="group in dimension_groups" class="row">
                <div class="col-md-1"><span ng-bind="group.group_name"></span></div>
                <div class="col-md-11">
                    <div ng-repeat="dimension in group.dimensions">
                        <span ng-bind="dimension.name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="middle" class="col-md-8">
        <div id="viz">

        </div>
        <div id="questions" ng-controller="SparkQs.controllers.sampleQuestionController">
            <h2>From the literature...</h2>
            <ul>
                <li ng-repeat="question in sample_questions.questions">
                    <span ng-bind="question.text"></span> <br />
                    Dimensions: <span ng-repeat="dimension in question.dimensions"><span ng-bind="dimension"></span> </span>
                </li>
            </ul>

        </div>
    </div>
    <div id="right" class="col-md-2">
        <div id="messages" ng-controller="SparkQs.controllers.exampleMessageController">
            <h2>Example Messages</h2>
            <div ng-repeat="message in example_messages.messages">
                <span ng-bind="message.text"></span> <br />
                <span ng-bind="message.time | date : 'yyyy-MM-dd HH:mm:ss' : 'UTC'"></span> by <span ng-bind="message.sender.full_name"></span>
                <hr />
            </div>
        </div>
    </div>




</div>
{% endblock %}
